.resume {
    padding: 120px 0 0 0;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
    }
    &__column-title {
        position: relative;
        padding-left: 50px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -7px;
            width: 15px;
            height: 15px;
            background: $main-color;
            border-radius: 100%;
        }
    }
    &__column {
        ul {
            list-style: none;
            li {
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
		 position: relative;
		 &::before {
		 	content: '';
		 	position: absolute;
		 	top: 63px;
		 	left: 0;
		 	width: 45px;
		 	height: 1px;
		 	background-color: #000;
		 }
	 }
    &__item-head {
		 position: relative;
		 padding: 45px 0 0 100px;
		 h4{
			 margin-bottom: 0;
		 }
	 }
    &__item-icon {
		position: absolute;
		top: 59px;
		left: 45px;
		padding: 18px 0 0 15px;
		@include before_icon;
		&::before{
			top:-14px;
		}
		&:hover{
			@include before_icon_hover;
		}
		img{
			position: absolute;
			top: 0;
			left: 17px;
		}
	 }
    &__item-location {
		 font-size: 12px;
		 line-height: 18px;
		 margin-top: 2px;
	 }
    &__item-body {
		 padding: 12px 0 0 50px;
		 font-size: 12px;
		 line-height: 18px;
	 }
}